

<!DOCTYPE html>



<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>住所録確認システム：住所録登録</p>
	<form th:action="＠{user/List}" th:object="${UserRequest}" th:method="post">
		<table  class="sampleTable">
			<tr>
				<td width="100" align="right">名前* : </td>
				<td class="texter box" align="left"><span th:text="${name}"></span><input type="hidden" th:field="*{UserRequest.name}" value= name></td>
				<td></td>

			</tr>

			<tr>
				<td width="100" align="right">住所* : </td>
				<td class="add box" colspan="2" align="left"><span th:text="${address}"></span><input type="hidden" th:field="*{UserRequest.address}" value= address ></td>


			</tr>

			<tr>
				<td width="100" align="right">電話番号 : </td>
				<td class="texter box" align="left"><span th:text="${tel}"></span><input type="hidden" th:field="*{UserRequest.tel}" value=tel></td>
				<td></td>

			</tr>

			<tr>
				<td width="100"></td>

				<td width="100"align="left"><input type="submit" value="登録" class="btn btn1" formaction="" ></td>

				<td width="100"><input type="submit" value="戻る" class="btn btn2" formaction="" ></td>
			</tr>


		</table>




	</form>


</body>
</html>
