

<!DOCTYPE html>



<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>住所録確認システム：住所録登録</p>
	<form th:action="＠{user/List}" th:method="post">
		<table  class="sampleTable">
			<tr>
				<td width="100" align="right">名前* : </td>
				<td class="texter box" align="left"><p th:text="${name}"><input type="hidden" name="name" value= name></td>
				<td></td>

			</tr>

			<tr>
				<td width="100" align="right">住所* : </td>
				<td class="add box" colspan="2" align="left"><p th:text="${address}"><input type="hidden" name="address" value= address ></td>


			</tr>

			<tr>
				<td width="100" align="right">電話番号 : </td>
				<td class="texter box" align="left"><p th:text="${tel}"></p><input type="hidden" name="tel" value=tel></td>
				<td></td>

			</tr>

			<tr>
				<td width="100"></td>

				<td width="100"align="left"><input type="submit" value="登録" class="btn btn1" formaction="" ></td>

				<td width="100"><input type="submit" value="戻る" class="btn btn2" formaction="" ></td>
			</tr>


		</table>




	</form>


</body>
</html>
