<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ユーザー情報一覧</title>
    <link href="/CSS/list.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>住所録管理システム：住所録一覧</h1>
    <div><a th:href="@{/user/add}">新規登録</a></div>


  <table border=1>
    <thead>
      <tr>
        <th>NO.</th>
        <th>名前</th>
        <th>住所</th>
        <th>電話番号</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

<tbody>

        <tr  th:each="userRequest : ${userlist}"  th:object="${userRequest}" th:method="post" >
	            <td class="center" th:text="*{id}"></td>
	            <td th:text="*{name}"></td>
	            <td th:text="*{address}"></td>
	            <td class="center" th:text="*{tel}"></td>
	            <td class="center" ><a th:href="@{/user/{id}(id=*{id})}">編集</a></td>

	            <td class="center"><a th:href="@{/user/{id}(id=*{id})}">削除</a></td>
        </tr>

      </tbody>

  </table>


<!-- ページング処理 -->
<div th:fragment='paginationbar'>
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}?'disabled':''" style="display:inline">
                    <span th:if='${page.firstPage}'>&lt;&lt;</span>
                    <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>&lt;&lt;</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'" style="display:inline">
                    <span th:if='${not page.hasPreviousPage}'>&lt;</span>
                    <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'>&lt;</a>
                </li>


                <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''" style="display:inline">
                    <span th:if='${item.current}' th:text='${item.number}'>1</span>
                    <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'>
                    <span th:text='${item.number}'>1</span>
                    </a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'" style="display:inline">
                    <span th:if='${not page.hasNextPage}'>&gt;</span>
                    <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}'>&gt;</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''" style="display:inline">
                    <span th:if='${page.lastPage}'>&gt;&gt;</span>
                    <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>&gt;&gt;</a>
                </li>
            </ul>
        </div>

     <div><a th:href="@{/user/add}">新規登録</a></div>
  </body>
</html>