@charset "UTF-8";

table{
    border-collapse: collapse;
  font-size: 13px;
  margin-left:200px;
}



.btn_area_center{
	text-align:left;
}

.btn {
	width:200px;
	background:#808080;
}

.btn1 {
	margin-right:50px;
	margin-left:280px;
}

.form {
	width:200px;
}
.address_form {
	width:400px;
}