@charset "UTF-8";
body {

}
table{
    border-collapse: collapse;
  font-size: 13px;
}
table th, table td {
    padding: 6px;
}
table th {

}

.cell_title {
  border-right: 0;
}
.cell_required{
    color: red;
    font-size: 12px;
    width: 10px;
    border-left: 0;
}
.btn {
  width: 150px;
  	margin-left:200px;

}
.btn_area_center {
  margin-top: 20px;
}

.form {
	width:200px;
}
.address_form {
	width:400px;
}