@charset "UTF-8";

li {
	display:inline;
	list-style:none;
}

.Serch {
	margin-left:1100px;

}

.Serch li {
	display:list-item;
}

.bttn{
	width:153px;
	margin-left:50px;
}

.new {
	background    : #808080;
	color         : #000000;
	text-decoration: none;
	padding       : 2px 30px 2px 30px;
	margin-left        :550px;
	border: solid 1px #000000;
	border-radius: 5px;
}

table {
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
    width: 800px;

	text-align:center;
}


table th, table td {
	border: solid 1px black;

}

.pege {
	margin-left:500px;
}

.center {
	color:#000000;
}